<launch>
  <arg name="model" />
  <arg name="gui" default="False" />

  <!-- Robot config -->
  <arg name="base_module" default="base" />
  <arg name="manipulator_module" default="dual_arm" />
  <arg name="io_module" default="io" />

  <!-- Robot description -->
  <include file="$(find up1_description)/launch/description.launch">
    <arg name="base_module" value="$(arg base_module)" />
    <arg name="manipulator_module" value="$(arg manipulator_module)" />
    <arg name="io_module" value="$(arg io_module)" />
  </include>

  <param name="use_gui" value="$(arg gui)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find up1_viz)/rviz/urdf.rviz" />
</launch>
